*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    height: 100vh;
    display:flex;
    flex-direction: column;
}


header {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
h1{
    font-size: 2rem;
}

main{
    flex-grow: 1;
    background-color: bisque;
}

.galeria{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
}

.galeria > .foto{
    width: 25%;
    height: 100%;
    background-color: burlywood;
}

.foto {
    border: 2px solid white;
}

.container-direita{
    flex-grow: 1;
    height: 100%;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
}
.container-superior{
    flex-grow: 1;
    background-color: dodgerblue;
    display: flex;
}
.container-superior-esquerda{
    flex-grow: 1;
    background-color: lightpink;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.container-superior-esquerda .foto{
    width: 50%;
    height: 50%;
    background-color: darkblue;

}
.container-superior-esquerda .foto:nth-of-type(1){
    width: 100%;
}
.container-superior > .foto{
    width: 25%;
    height: 100%;
    background-color: cornflowerblue;
}
.container-inferior{
    flex-grow: 1;
    background-color: darkcyan;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container-inferior .foto{
    width: 37.5%;
    height: 50%;
    background-color: darkgrey;
    
}
.container-inferior .foto.foto:nth-of-type(3){
    height: 100%;
    width: 63.5%;
    flex-grow: 1;
}

footer{
    height: 100px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}